Schemas/PayInstruction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema version="0.1.0.155" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="PayInstruction">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="StartDate" type="xsd:date"/>
      <xsd:element minOccurs="0" maxOccurs="1" nillable="true" name="EndDate" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
