Schemas/PayInstruction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema version="0.1.0.176" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="PayInstruction">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="StartDate" type="xsd:date"/>
      <xsd:element minOccurs="0" maxOccurs="1" nillable="true" name="EndDate" type="xsd:date"/>
      <xsd:element minOccurs="0" maxOccurs="1" name="Description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
