Schemas/ReportingInstruction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema version="17.18.5.393" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Common.xsd" />
  <xsd:include schemaLocation="ReportingInstructionBase.xsd" />
  
  <xsd:complexType name="ReportingInstruction">
    <xsd:complexContent>
      <xsd:extension base="ReportingInstructionBase">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="TaxMonth" type="TaxMonth" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Value" type="Money" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>
